@font-face {
  font-family: 'Lighthaus';
  src: url('./Lighthaus.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('./Centurygothic.ttf');
  font-weight: normal;
  font-style: normal;
}