@import url('../node_modules/modern-normalize/modern-normalize.css');
@import url('./fonts/fonts.css');

@import url('./blocks/header/__basket/header__basket.css');
@import url('./blocks/header/__menu/header__menu.css');
@import url('./blocks/header/__link/header__link.css');
@import url('./blocks/header/__logo/header__logo.css');

@import url('./blocks/basket/__count/basket__count.css');
@import url('./blocks/basket/__image/basket__image.css');

@import url('./blocks/parallax/__layer/parallax__layer.css');
@import url('./blocks/parallax/__layer/__layer-one/parallax__layer-one.css');
@import url('./blocks/parallax/__layer/__layer-two/parallax__layer-two.css');
@import url('./blocks/parallax/__layer/__layer-three/parallax__layer-three.css');
@import url('./blocks/parallax/__layer/__layer-four/parallax__layer-four.css');
@import url('./blocks/parallax/__layer/__layer-five/parallax__layer-five.css');
@import url('./blocks/parallax/__layer/__layer-six/parallax__layer-six.css');
@import url('./blocks/parallax/__layer/__layer-seven/parallax__layer-seven.css');
@import url('./blocks/parallax/__button/parallax__button.css');

@import url('./blocks/main/__heading/main__heading.css');

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  text-decoration-line: none;
}